extends ../../layouts/main.jade

block title
  title Catalog section | Seller

block content
        
  .container-fluid
  
    .b-catalog-section
      
      .row
      
        .col-sm-3
            
        hr.visible-xs-block.i-size-L
        
        .col-sm-9
        
          .row
    
            .col-sm-6
              
              .bj-sorting
                .text-muted Сортировка:
                .dropdown
                  a#dLabel(href='#', role='button', data-toggle='dropdown', data-target='#', aria-expanded='false')
                    | Недорогие вещи для зимы
                    span.caret
                  ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                    li
                      a(href='/catalog/shoes/?sort=cheap#sort') Недорогие
                    li
                      a(href='/catalog/shoes/?sort=new#sort') Новые
                    li
                      a(href='/catalog/shoes/?sort=popular#sort') Популярные
                .clearfix
            hr.visible-xs
                
            .col-sm-6.text-right.hidden-xs
              include ../../modules/pagination/include
          
          hr.i-line.i-size-L
          
          .b-catalog-section
              
            include ../../components/catalog.collection/meta
            include ../../components/catalog.collection/modals
            include ../../modules/gallery/fotorama
              
            include ../../components/catalog.collection/template-3
                
      hr.visible-xs
    
      .row
            
        .col-sm-6.col-sm-offset-6.text-right
          
          include ../../modules/pagination/include
          
      hr